// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

h1 {
    font-size: 50px;
  }

a {
  color: grey;
  &:hover {
    color: black;
  }
}

.container {
  width: 100%;
  display: inline-block;
}

.display-box {
  width: 50%;
  height: 30px;
}

.btn-display {
  height: 30px;
}

.your-answer {
  background: white;
  width: 50%;
  padding-left: 5px;
}

.coach-reply {
  background-color: #FFFEE1;
  width: 50%;
  padding-left: 5px;
}

h5 {
  font-size: 20px;
  font-weight: lighter;
}


